/* Google Fonts */
@import url('https://fonts.googleapis.com/css2')

/* ============= Global========= */
 * {
        margin:  0;
        padding: 0;
        box-sizing: border-box;
        font-family: Sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
   /* background-image: url('image/2.jpg');*/
    background-image: url('image/tt.jpg'); 
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: black;
    /* color: black;*/
    text-align: center; 
   /* text-align: left;*/
}

.header-content h2{
    font-size: 4vmin;
    
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background-color:  #fc036b;
    border-radius: 30px;  
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmain;
    color: #49497e;
}
.row{
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-between;
   
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row .col img{
    width: 80%;
    width: 100%;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
    text-align:  center;
}

p{
   /* color: #7c7c7c; */
    color: Black;
    padding: 0px 40px;
   
}

.reduce{

    width: 100%;
    text-align: center;
}

.colum{
    width: 100%;
    align-self: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


a {
   text-decoration: none; 
}

ul{
    list-style: none;
}

.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

body ,html{
    overflow-x: hidden;
}

/*Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}

.row{
    flex-direction: column;
}
.row .col{
    margin: 20px auto;
}
.col img{
    max-width: 80%;
}
/* Explore */
.explore-content{
    width: 40%;
}
.tours .col{
    width: 100%;
}
.image-gallary{
    justify-content: center;
    align-items: center;
}
.image-gallary{
    width: 90%;
}
.footer-section{
    padding: 10px;
}

.explore{
    width: 100%;
    height: 100vh;
    background-image: url(image/2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.explore-content{
   /* width: 50%;*/
    width: 70%;
    padding: 50px;
   /* color: whitesmoke;*/
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.explore-content h1{
    font-size: 7vmin;
    margin: 50px;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
   /* color:  rgb(221,221,221); */
    color: black;
}
.explore-content .ctn{
    margin-top: 40px;
}

.content-col{
    width: 40%;
}

.image-col{
    width: 60%;
}

tours .image-gallary{
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    align-items: center;
}

.image-gallary img{
    max-width: 200px;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
    color: #484872;
}
.content-col .line{
    margin-left: -1px;
}
.content-col .line p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: 100px;
}


.footer-section{
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer{
    width: 100%;
    height: 80px;
   /* padding: 20px 80px;
    margin: 0;
    */
    background: #484872;
    text-align: center;
    
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
/* Mobile device */
@media only screen and (max-width: 850px){
    .menu-btn{
        display: block;
    }
    
   .navbar{
    padding: 0;
   }
    
   .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top:  -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%; 
    }
    .nav-links li{
        margin: 30px auto;
    }
    .colum{
        margin: 30px auto;
    }
}

/*Animations */
img {
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
 
.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
li:hover{
    color:#fc036b;
    cursor: zoom-out;
}

